---
import { marked } from 'marked';
import siteConfig from '../data/site-config';
import LottieAnimation from 'astro-transitions-lottie/Lottie.astro';
import lottie from '../../public/lotties/maui.json';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16 flex justify-between items-center">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <h1 class=" font-sans bg-gradient-to-br from-peach to-mauve text-transparent bg-clip-text font-black text-8xl leading-tight text-theme-foreground sm:text-4xl">
                <a href="/" set:html={marked.parse(siteConfig.heading)} />
            </h1>
        )
    }
    {
        siteConfig?.hero?.video?.src && (
            <div class=" w-32 md:w-48">
                <LottieAnimation src={'/lotties/maui.json'} autoplay="visible" />
            </div>
        )
    }
    {siteConfig.subtitle && <p class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl">{siteConfig.subtitle}</p>}
</header>
